/*html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}
зачем мне это? я не знаю)0))00) */
body {
    /*у меня не получилось вставить пикчу с bg в файл стилей, увы */
    margin-left: 142px; 
    font-family: 'Roboto', serif; 
    
}

  
.logo {max-width: 1090px; margin: 114px 0; margin-bottom: 0;}
    


.text-block {
    .text-h2 {color: white;  max-width: 1090px; letter-spacing: 2.4px;  margin-top: 64px; margin: 54px 0; margin-bottom: 0;}
    .text-h3 {color: white;  max-width: 1090px; letter-spacing: 2.4px;  margin-top: 0px; margin: 64px 0; margin-bottom: 0;}
    .text-h4 {color: white;  max-width: 1090px; margin: 25px 0; letter-spacing: 2px; text-indent: 20px;  text-align: justify; margin-bottom: 0;}
    h4 + p {
        color: white;  max-width: 1090px; margin: 0; letter-spacing: 2px; text-indent: 20px;  text-align: justify; margin-bottom: 0; margin-top: 0px;
    }
    
}


.text-h2 {
    font-family: 'Roboto', serif;
    font-weight: 500; 
    font-size: 33px;
    text-transform: uppercase;
    line-height: 37.5px;
    
}
/*нормальные люди не создают 2 одинаковые записи с одним и тем же текстом, но я не нормальные люди*/
.text-h3 {
    font-family: 'Roboto', serif;
    font-weight: 500; 
    font-size: 33px;
    text-transform: uppercase;
    line-height: 37.5px;
}
.text-h4 {
    font-family: 'Roboto', serif;
    font-weight: 400; 
    font-size: 20px;
    line-height: 23.44px;
}
h4 + p {    font-family: 'Roboto', serif;
    font-weight: 400; 
    font-size: 20px;
    line-height: 23.44px;}

button.blue {
        max-width: 1090px;
        margin: 25px 0;
        background-color: transparent;
        border: 4px solid white; 
        padding: 10px 18.4px;
        line-height: 21.09px;
        font-size: 15px;
        color: white; 
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: background-color 0.5s, color 0.5s, border-color 0.5s; /* это переход Шредингера, он, возможно, рабочий, а, возможно, нет */
        margin-right: 12px;
        margin-bottom: 0;
      }
button.blue:hover {
        background-color: #4FB5C0;
        border-color: #6AECF8; 
        color: black; 
      }
      
      
button.blue:last-child {
        margin-right: 0;
      
      
}

button {
    max-width: 1090px;
    margin: 12px 0;
    background-color: transparent;
    border: 4px solid white; 
    padding: 10px 18.4px;
    line-height: 21.09px;
    font-size: 15px;
    color: white; 
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s; /* это переход Шредингера, он, возможно, рабочий, а, возможно, нет */
    margin-right: 12px;
    margin-bottom: 0;
  }

  button:hover {
    background-color: #4FB5C0;
    border-color: #6AECF8; 
    color: black; 
  }
  
  
button:last-child {
    margin-right: 0;
  
  
}
  input.small {
    width: 287px;
    height: 44px;
    background-color: white;
    border: 1px solid black; /* черная обводка */
    margin-right: 8px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  input.big {
    width: 590px;
    height: 103px;
    background-color: white;
    margin-bottom: 0;
    margin-top: 11px;
    margin-bottom: 0;
     /* черная обводка для контура */
  }
  
/*.text-h3 {
    font-family: 'Roboto', serif;
    font-weight: 400; 
    font-size: 32px;
    text-transform: uppercase;
}
.text-h4 {
    font-family: 'Roboto', serif;
    font-weight: 400; 
    font-size: 32px;
    text-transform: uppercase;
}
*/
.header {
}
.header__title {
}

.h1 {
}
.h4 {
}

 